@model  IEnumerable<DataAccess.EntityFramework.article>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}


<!-- Begin Page Content -->
<div class="container-fluid admin-artcles">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Articles</h1>
    <p class="mb-4">
        List of all articles in database
    </p>
    <p>
        @Html.ActionLink("Create a new article", "Create")
    </p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Articles</h6>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Text body</th>
                            <th>Create time</th>
                            <th>Image</th>
                            <th>User id</th>
                            <th>Category id</th>
                            <th>Control</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Text body</th>
                            <th>Create time</th>
                            <th>Image</th>
                            <th>User id</th>
                            <th>Category id</th>
                            <th>Control</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.article_id">
                                <td><div>@item.article_id</div></td>
                                <td style="min-width: 150px;"><div>@item.title</div></td>
                                <td style="max-width: 300px;"><div>@Html.Raw(item.textbody)</div></td>
                                <td ><div>@(item.create_time.HasValue?item.create_time.Value.ToString("g") : "")</div></td>
                                <td><div><img style="max-width: 150px" src="@item.image"/></div></td>
                                <td><div>@item.user_id</div></td>
                                <td><div>@item.cate_id</div></td>
                                <td>
                                    <div>@Html.ActionLink("Details", "Details", new { id = item.article_id })</div>
                                    <div>@Html.ActionLink("Edit", "Edit", new { id = item.article_id })</div>
                                    
                                    <div>
                                        @Ajax.ActionLink("Delete", "Delete", new { @id = item.article_id }, new AjaxOptions
                                       {
                                           Confirm = "Xác nhận xóa bài viết có id: \"" + @item.article_id + "\"?",
                                           OnComplete = "$('#row_" + item.article_id + "').remove()",
                                           HttpMethod = "Delete"
                                       })
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<!-- End of Main Content -->
